#Logo {
    width: 230px;
    display: block;
    margin: 0px auto;
    

}

#Headline {
    font-size: 80px;
    text-align: center;
    
}
#Blackline {
    margin: 0;
    padding: 0;
    height: 10px;
    background-color: black;
    }

    
#Bild1 {
    
}
